<div>
    <h2 id="page-heading">
        <span>Blog Entry Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-blog-entry-comment" [routerLink]="['/blog-entry-comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Blog Entry Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="blogEntryComments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Content</span></th>
            <th><span>Date</span></th>
            <th><span>Blog Entry</span></th>
            <th><span>Parent</span></th>
            <th><span>Written By</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blogEntryComment of blogEntryComments ;trackBy: trackId">
                <td><a [routerLink]="['/blog-entry-comment', blogEntryComment.id, 'view' ]">{{blogEntryComment.id}}</a></td>
                <td>{{blogEntryComment.title}}</td>
                <td>{{blogEntryComment.content}}</td>
                <td>{{blogEntryComment.date | date:'medium'}}</td>
                <td>
                    <div *ngIf="blogEntryComment.blogEntry">
                        <a [routerLink]="['../blog-entry', blogEntryComment.blogEntry?.id, 'view' ]" >{{blogEntryComment.blogEntry?.title}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="blogEntryComment.parent">
                        <a [routerLink]="['../blog-entry-comment', blogEntryComment.parent?.id, 'view' ]" >{{blogEntryComment.parent?.title}}</a>
                    </div>
                </td>
                <td>
                    {{blogEntryComment.writtenBy?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/blog-entry-comment', blogEntryComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/blog-entry-comment', blogEntryComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blog-entry-comment/'+ blogEntryComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
